<!--
  ~ Copyright (c) 2016. Ted Park. All Rights Reserved
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gun0912.tedpicker">

    <uses-feature android:name="android.hardware.camera" />

    <!-- Camera Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Features -->
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
